<template>
    <div class="content-wrapper" style="min-height: 1203.6px;">
        <section class="content-header">
            <headpage storeNamespace="blog"></headpage>
        </section>

        <transition :name="$store.getters['configuration/getSecondaryTransition']" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
import headpage from '../../components/headpage'

export default {
    components: { headpage }
}
</script>