<template>
    <div>
        <div class="card">

            <div class="card-header bg-navy">
                <h3 class="card-title">Contenido del Post</h3>
            </div>

            <div class="card-body">

                <!-- Contenido -->
                <editor api-key="9a5rgz69tkxz0y79rk1v8nm7xh8lrsox96ejdeatuqmolml0" :init="{
                    height: 800,
                    language: 'es_MX',
                    language_url : this.languageUrl(),
                    menubar: false,
                    image_caption: true,
                    image_advtab: true,
                    image_uploadtab: true,
                    images_upload_handler: this.uploadImage,
                    image_prepend_url: this.imagesUrl(),
                    browser_spellcheck: true,
                    spellchecker_language: 'es_MX',
                    contextmenu: false,
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount',
                        'emoticons image imagetools mediaembed codesample preview'
                    ],
                    toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | code image media preview | emoticons codesample help'
                }" v-model="contenido"></editor>

            </div>
        </div>

    </div>
</template>

<script>
import editor from '@tinymce/tinymce-vue'

export default {
    components: { editor },
    data() {
        return {
            uploadImage: (blobInfo, success, failure) => {
                var form = new FormData()
                form.append('imagen', blobInfo.blob(), blobInfo.filename())
                this.$store.dispatch('blog/uploadTinyImages', form).then((response) => {
                    success(response.data)
                }).catch((error) => {
                    failure(error['imagen'][0])
                })
            }
        }
    },
    computed: {
        contenido: {
            get () { return this.$store.getters['blog/getPostContenido'] },
            set (value) { this.$store.commit('blog/setPostContenido', value) }
        }
    },
    methods: {
        isCreate() {
            if (this.$route.name == 'Crear Post') { return true }
            else { return false }
        },
        languageUrl() { return this.$publicUrl + 'js/tinymce/langs/es_MX.js' },
        imagesUrl() { return this.$publicUrl + 'storage/' }
    }
}
</script>