<template>
    <div class="card">

        <div class="card-header bg-navy">
            <h3 class="card-title">Imagen del Post</h3>
        </div>
        
        <div class="card-body">

            <div v-if="files.length > 0 && loadedFile != false">
                <div class="progress" v-if="files[0].active || files[0].progress !== '0.00'">
                    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" 
                    role="progressbar" :style="{ width: files[0].progress + '%' }">{{files[0].progress}}%</div>
                </div>
            </div>

            <div class="text-center">
                <div class="text-center p-2">
                    <label for="imagen" v-if="hasPostImagen && files.length == 0">
                        <img :src="checkImage(getPostImagen, true)" class="img-fluid uploadImage">
                    </label>
                    <label for="imagen" v-else>
                        <img :src="files.length ? files[0].url :  $publicUrl + '/images/preview.png'" class="img-fluid uploadImage" />
                    </label>
                </div>

                <file-upload
                    :headers="csrf"
                    extensions="jpg,jpeg,png"
                    accept="image/png,image/jpg,image/jpeg"
                    name="imagenblog"
                    class="btn btn-primary"
                    :post-action="correctUrl()"
                    v-model="files"
                    @input-filter="inputFilter"
                    @input-file="inputFile"
                    ref="upload">
                    <i class="fas fa-plus-square"></i> Cargar Imagen
                </file-upload>

                <button type="button" class="btn btn-primary" @click="startUpload" v-if="loadedFile">
                <i class="fas fa-arrow-circle-up"></i> Subir</button>

            </div>

        </div>

    </div>    
</template>

<script>
import FileUpload from 'vue-upload-component'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        this.csrf = {'X-CSRF-TOKEN': this.$token, 'X-Requested-With': 'XMLHttpRequest'}
    },
    components: { FileUpload },
    data() {
        return {
            files: [],
            csrf: {},
            loadedFile: false
        }
    },
    computed: {
        ...mapGetters('blog', [
            'getPostImagen',
            'hasPostImagen'
        ])
    },
    methods: {
        inputFile(newFile, oldFile) {
            if (newFile && oldFile && !newFile.active && oldFile.active) {
                if (newFile.response) {
                    this.$store.commit('blog/setPostImagen', newFile.response.path)
                    this.$store.commit('blog/setPostThumb', newFile.response.path_thumb)
                    this.$toast.fire({
                        icon: 'success',
                        title: 'Ok!',
                        text: 'La imagen se ha subido!'
                    })
                    this.loadedFile = false
                }
            }
        },
        inputFilter(newFile, oldFile, prevent) {
            // File Size Validation
            if (newFile.size > 2097152) {
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Tu archivo es muy grande. Max. 2MB!'
                })
                return prevent()
            }

            // File Extension
            if (newFile && !oldFile) {
                if (!/\.(jpg|jpeg|png)$/i.test(newFile.name)) {
                    this.$toast.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Tu archivo no es una imagen!'
                    })
                    return prevent()
                }
            }

            // Generate Url
            if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                newFile.url = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.url = URL.createObjectURL(newFile.file)
                    this.loadedFile = true
                }
            }    
        },
        startUpload() {
            this.$refs.upload.active = true
        },
        correctUrl() {
            return this.$publicUrl + 'admin/blog/imagen'
        },
        checkImage: tools.checkImage
    }
}
</script>

<style scoped>
.uploadImage {
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    max-width: 500px;
}
</style>