<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 p-2">
                    <button type="button" class="btn btn-primary float-left" @click="goCreate">
                    <i class="fas fa-plus-circle"></i> Nueva Entrada</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title d-none d-sm-inline-block">Entradas del Blog</h3>

                            <div class="card-tools">
                                <filtertable @updatefilters="getBlogPosts" storeNamespace="blog"></filtertable>
                            </div>
                        </div>
                    
                        <div class="card-body table-responsive p-0">

                            <loading v-if="loading" size="medium"></loading>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2">Título</th>
                                        <th>Autor</th>
                                        <th>Categoría</th>
                                        <th>Creado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="post in getPosts" :key="post.id">
                                        <td>
                                            <vloadimage>
                                                <img slot="image" :src="checkImage(post.thumb, true)" alt="CMS Post Image" class="img-size-64 mr-2">
                                                <loading slot="preloader" size="small" color="black" icon="fas fa-circle-notch"></loading>
                                                <div slot="error" class="text-center vue-image-error"><i class="fas fa-exclamation-triangle"></i></div>
                                            </vloadimage>
                                        </td>
                                        <td>
                                            <div style="color: #3c8dbc; font-weight: bold;" :title="post.titulo">{{ textTruncate(post.titulo, 80) }}</div>
                                            <div>{{dateToStringShort(post.fecha)}}</div>
                                        </td>
                                        <td>{{post.autor}}</td>
                                        <td>
                                            <span class="badge bg-secondary" v-if="post.categoria">{{post.categoria.nombre}}</span>
                                            <span class="badge bg-danger" v-else>Borrada</span>
                                        </td>
                                        <td>{{dateToStringShort(post.created_at)}}</td>
                                        <td>
                                            <button v-if="post.publish == 1" class="btn btn-xs btn-success" @click="togglePublish(post.id, 1)" 
                                            title="No Publicar"><i class="fas fa-eye"></i></button>
                                            <button v-else class="btn btn-xs btn-danger" @click="togglePublish(post.id, 0)" 
                                            title="Publicar"><i class="fas fa-eye-slash"></i></button>
                                            <button type="button" class="btn btn-xs btn-warning" @click="goEdit(post.id)" 
                                            title="Editar Post"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-xs btn-danger" @click="deletePost(post.id)" 
                                            title="Borrar Post"><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer clearfix">
                            <pagination @setpage="getBlogPosts" storeNamespace="blog"></pagination>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
import vloadimage from 'vue-load-image'
import pagination from '../../components/pagination'
import filtertable from '../../components/filtertables'
import loading from '../../components/loading'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        this.getBlogPosts(null)
    },
    components: { pagination, filtertable, loading, vloadimage },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('blog', [
            'hasDataPosts',
            'getPosts',
            'getFiltros'
        ])
    },
    methods: {
        getBlogPosts(url) {
            this.loading = true
            this.$store.dispatch('blog/getPosts', {
                url: url,
                filtro: this.getFiltros
            }).then(() => {
                this.loading = false
            })
        },
        goCreate() {
            this.$router.push({ name: 'Crear Post' })
        },
        togglePublish(id_post, estado) {
            var advertencia = ''
            if (estado == 1) { advertencia = 'El post se cambiara a no público!' }
            else { advertencia = 'El post se cambiara a público!' }
            this.$toast.fire({
                toast: false,
                position: 'center',
                showConfirmButton: true,
                showCancelButton: true,
                timer: undefined,
                title: advertencia,
                text: '¿Deseas continuar?',
                icon: 'warning',
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('blog/togglePublish', id_post).then(() => {
                        this.$toast.fire({
                            icon: 'success',
                            title: 'Ok!',
                            text: 'Post actualizado!'
                        })
                    }).catch(() => {
                        this.$toast.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Hay algunos errores en el servidor!'
                        })
                    })
                }
            })
        },
        goEdit(id_post) {
            this.$router.push({ name: 'Editar Post', params: { id: id_post } })
        },
        deletePost(id_post) {
            this.$toast.fire({
                toast: false,
                position: 'center',
                showConfirmButton: true,
                showCancelButton: true,
                timer: undefined,
                title: 'Esta a punto de borrar el post!',
                text: '¿Deseas borrarlo?',
                icon: 'error',
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('blog/deletePost', id_post).then(() => {
                        this.$toast.fire({
                            icon: 'success',
                            title: 'Ok!',
                            text: 'Post borrado!'
                        })
                    }).catch(() => {
                        this.$toast.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Hay algunos errores en el servidor!'
                        })
                    })
                }
            })
        },
        checkImage: tools.checkImage,
        dateToStringShort: tools.dateToStringShort,
        textTruncate: tools.textTruncate
    }
}
</script>