<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <div class="card-header bg-navy">
                    <h3 class="card-title">Información del Post</h3>
                </div>

                <div class="card-body">

                    <!-- Título -->
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input type="text" id="titulo" class="form-control" v-model="titulo"
                        :class="inputError(getPostErrors, 'titulo', 'is-invalid')">
                    </div>

                    <!-- Categoría -->
                    <div class="form-group">
                        <label for="categoria">Categoría <button class="btn btn-success btn-xs" @click="openCreateCategoria"><i class="fas fa-plus-circle"></i></button></label>
                        <select class="form-control custom-select" id="categoria" v-model="id_categoria" :class="inputError(getPostErrors, 'id_categoria', 'is-invalid')">
                            <option v-for="(categoria, index) in getCategorias" :key="index" :value="categoria.id">{{categoria.nombre}}</option>
                        </select>
                    </div>

                    <!-- Fecha -->
                    <div class="form-group">
                        <label>Fecha</label>
                        <div>
                            <date-picker v-model="fecha" valueType="format" format="YYYY-MM-DD" :clearable="false" 
                            :editable="false" input-class="mx-input-form-control"></date-picker>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">

                <div class="card-header bg-navy">
                    <h3 class="card-title">Descripción del Post</h3>
                </div>

                <div class="card-body">

                    <!-- Descripción -->
                    <div class="form-group">
                        <label>Descripción ({{charCount}})</label>
                        <textarea class="form-control" rows="4" placeholder="Escriba una descripción corta para tu post..." v-model="descripcion"></textarea>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="card">

                <div class="card-header bg-navy">
                    <h3 class="card-title">Información del Post</h3>
                </div>

                <div class="card-body">

                    <!-- Slugurl -->
                    <div class="form-group">
                        <label for="slug">Slug</label>
                        <input type="text" id="slug" class="form-control" v-model="slugfield" disabled>
                    </div>

                    <!-- Autor -->
                    <div class="form-group">
                        <label for="autor">Autor</label>
                        <input type="text" id="autor" class="form-control" v-model="autor"
                        :class="inputError(getPostErrors, 'autor', 'is-invalid')">
                    </div>

                    <!-- Autor Foto -->
                    <div class="form-group">
                        <label for="autor_foto">Autor de la Imagen</label>
                        <input type="text" id="autor_foto" class="form-control" v-model="autor_foto"
                        :class="inputError(getPostErrors, 'autor_foto', 'is-invalid')">
                    </div>

                    <!-- Publish -->
                    <div class="form-group">
                        <label for="publish">Publicado</label>
                        <select class="form-control custom-select" id="publish" v-model="publish">
                            <option value="1">Sí</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/locale/es';
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        if (this.$route.name == 'Editar Post') {
            this.getPostData()
        }
    },
    components: { DatePicker },
    computed: {
        ...mapGetters('blog', [
            'getCategorias',
            'getPostErrors',
            'getPostId'
        ]),
        titulo: {
            get () { return this.$store.getters['blog/getPostTitulo'] },
            set (value) { this.$store.commit('blog/setPostTitulo', value) }
        },
        fecha: {
            get () { return this.$store.getters['blog/getPostFecha'] },
            set (value) { this.$store.commit('blog/setPostFecha', value) }
        },
        autor: {
            get () { return this.$store.getters['blog/getPostAutor'] },
            set (value) { this.$store.commit('blog/setPostAutor', value) }
        },
        slugurl: {
            get () { return this.$store.getters['blog/getPostSlugurl'] }
        },
        autor_foto: {
            get () { return this.$store.getters['blog/getPostAutorFoto'] },
            set (value) { this.$store.commit('blog/setPostAutorFoto', value) }
        },
        publish: {
            get () { return this.$store.getters['blog/getPostPublish'] },
            set (value) { this.$store.commit('blog/setPostPublish', value) }
        },
        id_categoria: {
            get () { return this.$store.getters['blog/getPostIdCategoria'] },
            set (value) { this.$store.commit('blog/setPostIdCategoria', value) }
        },
        descripcion: {
            get () { return this.$store.getters['blog/getPostDescripcion'] },
            set (value) { this.$store.commit('blog/setPostDescripcion', value) }
        },
        charCount() {
            return this.descripcion.length
        },
        slugfield() {
            var sluged = this.slugify(this.titulo)
            this.$store.commit('blog/setPostSlugurl', sluged)
            return sluged
        }
    },
    methods: {
        getPostData() {
            this.$store.commit('blog/setLoading', true)
            this.$store.commit('blog/setUpdateOn', true)
            this.$store.commit('blog/setPostId', this.$route.params.id)
            this.$store.dispatch('blog/getPost').then(() => {
                this.$store.commit('blog/setLoading', false)
            }).catch(() => {
                this.$store.commit('blog/setLoading', false)
            })
        },
        openCreateCategoria() {
            this.$toast.fire({
                toast: false,
                position: 'center',
                showConfirmButton: true,
                showCancelButton: true,
                timer: undefined,
                title: 'Crear Nueva Categoría',
                text: 'Escriba el nombre de la nueva categoría',
                icon: 'info',
                confirmButtonText: 'Crear',
                cancelButtonText: 'Cancelar',
                input: 'text',
            }).then((result) => {
                if (result.dismiss) { return }
                if (result.value != '') {
                    this.$store.dispatch('blog/createCategoria', result.value).then((categoria) => {
                        this.id_categoria = categoria.id
                        this.$toast.fire({
                            icon: 'success',
                            title: 'Ok!',
                            text: 'Categoría creada!'
                        })
                    }).catch(() => {
                        this.$toast.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Hay algunos errores en el servidor!'
                        })
                    })
                } else {
                    this.$toast.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'No escribio nada!'
                    })
                }
            })
        },
        inputError: tools.inputError,
        slugify: tools.slugify
    }
}
</script>

<style scoped>
.mx-datepicker {
    width: 100%;
}
</style>