<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 p-2">
                    <button type="button" class="btn btn-secondary float-left mr-2" @click="backToIndex">
                    <i class="fas fa-arrow-circle-left"></i> Regresar</button>
                    <button type="button" class="btn btn-primary float-left" @click="updatePost" v-if="getUpdateOn">
                    <i class="fas fa-sync"></i> Actualizar</button>
                    <button type="button" class="btn btn-success float-left" @click="savePost" v-else>
                    <i class="far fa-save"></i> Guardar</button>
                </div>
            </div>

            <formalert :errors="getPostErrors"></formalert>

            <loading v-if="getLoading" size="big" color="black"></loading>

            <tabs :options="{ useUrlFragment: false }">
                <tab name="Información">
                    <informacion></informacion>
                </tab>
                <tab name="Contenido">
                    <contenido></contenido>
                </tab>
                <tab name="Imagen Destacada">
                    <imagen></imagen>
                </tab>
            </tabs>
            
        </div>
    </section>
</template>

<script>
import loading from '../../components/loading'
import formalert from '../../components/formalert'
import informacion from './informacion'
import contenido from './contenido'
import imagen from './imagen'
import { Tabs, Tab } from 'vue-tabs-component'
import { mapGetters } from 'vuex'

export default {
    mounted() {
        this.getListCategorias()
    },
    components: { informacion, contenido, imagen, 'tabs': Tabs, 'tab':Tab, formalert, loading },
    computed: {
        ...mapGetters('blog', [
            'getUpdateOn',
            'getPostErrors',
            'getLoading'
        ])
    },
    methods: {
        backToIndex() {
            this.$router.push({ name: 'Lista de Posts' })
        },
        getListCategorias() {
            this.$store.dispatch('blog/getListCategorias')
        },
        savePost() {
            this.$store.commit('blog/setLoading', true)
            this.$store.dispatch('blog/createPost').then((post) => {
                this.$store.commit('blog/setLoading', false)
                this.successToast('El post ha sido creado!')
                this.$router.push({ name: 'Editar Post', params: { id: post.id } })
                this.$store.commit('blog/setUpdateOn', true)
                this.$store.commit('blog/setPostId', post.id)
            }).catch(() => {
                this.$store.commit('blog/setLoading', false)
                this.errorToast()
            })
        },
        updatePost() {
            this.$store.commit('blog/setLoading', true)
            this.$store.dispatch('blog/updatePost').then(() => {
                this.$store.commit('blog/setLoading', false)
                this.successToast('El post ha sido actualizado!')
                this.$router.push({ name: 'Lista de Posts' })
            }).catch(() => {
                this.$store.commit('blog/setLoading', false)
                this.errorToast()
            })
        },
        successToast(msg) {
            this.$toast.fire({
                icon: 'success',
                title: 'Ok!',
                text: msg
            })
        },
        errorToast() {
            this.$toast.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Hay algunos errores en el formulario'
            })
        },
        isCreate() {
            if (this.$route.name == 'Crear Post') { return true }
            else { return false }
        }
    },
    beforeRouteLeave (to, from, next) {
        // Clean Errors on leaving route
        this.$store.commit('blog/cleanPost')
        this.$store.commit('blog/setPostErrors', [])
        this.$store.commit('blog/setPostImagen', [])
        this.$store.commit('blog/setUpdateOn', false)
        next()
    }
}
</script>