<template>
   <div class="input-group input-group-sm" style="width: 300px;">

        <div class="input-group-prepend">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{selectedText}}</button>
            <ul class="dropdown-menu dropdownFix" x-placement="bottom-start">
                <li class="dropdown-item" v-for="(option, index) in getFiltros.opciones" :key="index" @click="dropDownSelected(index)">
                    <a href="#" @click="dropDownSelected(index)">{{option.text}}</a>
                </li>
            </ul>
        </div>

        <input v-if="isType('text')" type="text" class="form-control float-right" placeholder="Buscar..." v-model="search" @keyup.enter="searchOn">

        <date-picker v-if="isType('date')" v-model="search_date" valueType="format" format="YYYY-MM-DD" :clearable="false"
        input-class="mx-input-filter" :range="true" @change="searchOn" :editable="false"></date-picker>

        <select v-if="isType('bool')" class="custom-select" v-model="search_bool" @change="searchOn">
            <option value="1">Sí</option>
            <option value="0">No</option>
        </select>

        <div class="input-group-append">
            <button type="button" class="btn btn-default" @click="searchOn"><i class="fas fa-search"></i></button>
        </div>
    </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/locale/es';
import { findIndex } from 'lodash'
import tools from '../tools'

export default {
    props: {
        storeMutation: {
            type: String,
            default: 'setFiltros'
        },
        storeGetter: {
            type: String,
            default: 'getFiltros'
        },
        storeNamespace: {
            type: String,
            required: true
        }
    },
    mounted() {
        this.initSearchValue()
    },
    components: { DatePicker },
    data() {
        return {
            search: '',
            search_date: [this.getStringTodayDate(), this.getStringTodayDate()],
            search_bool: 1
        }
    },
    computed: {
        getFiltros() {
            return this.$store.getters[this.storeNamespace + '/' + this.storeGetter]
        },
        nameMutiation() {
            return this.storeNamespace + '/' + this.storeMutation
        },
        selectedText() {
            var index = this.getSelectedIndex()
            return this.getFiltros.opciones[index].text
        },
        selectedType() {
            var index = this.getSelectedIndex()
            return this.getFiltros.opciones[index].type
        }
    },
    methods: {
        searchOn() {
            this.$store.commit(this.nameMutiation, {
                selected: this.getFiltros.selected,
                busqueda: this.whichSearch()
            })
            this.$emit('updatefilters', null)
        },
        dropDownSelected(index) {
            this.$store.commit(this.nameMutiation, {
                selected: this.getFiltros.opciones[index].value,
                busqueda: this.whichSearch()
            })
        },
        getSelectedIndex() {
            return findIndex(this.getFiltros.opciones, (x) => { return x.value == this.getFiltros.selected })
        },
        isType(type) {
            if (this.selectedType == type) { return true }
            else { return false }
        },
        whichSearch() {
            if (this.selectedType == 'date') { return this.search_date }
            if (this.selectedType == 'bool') { return this.search_bool }
            return this.search
        },
        initSearchValue() {
            if (this.isType('text')) { this.search = this.getFiltros.busqueda }
            if (this.isType('date')) { this.search_date = this.getFiltros.busqueda }
            if (this.isType('bool')) { this.search_bool = this.getFiltros.busqueda }
        },
        getShortDias: tools.getShortDias,
        getShortMeses: tools.getShortMeses,
        getMeses: tools.getMeses,
        getStringTodayDate: tools.getStringTodayDate
    }
}
</script>

<style scoped>
.dropdownFix {
    position: absolute; 
    will-change: transform; 
    top: 0px; 
    left: 0px; 
    transform: translate3d(0px, 48px, 0px);
    z-index: 999999;
}
.mx-datepicker {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
</style>

<style>
.mx-input-filter { 
    display: block;
    font-weight: 400;
    color:#495057;
    background-color:#ffffff;
    background-clip: padding-box;
    border: 1px solid#ced4da;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    height: calc(1.8125rem + 2px);
    width: 100%;
}
</style>