<template>
    <!-- Main Footer -->
    <footer class="main-footer">

        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>

        <!-- Default to the left -->
        <strong>Copyright &copy; 2020 <a href="https://www.komvac.com">Komvac</a>.</strong> All rights reserved.
    </footer>
</template>