<template>
    <div class="alert alert-danger alert-dismissible" v-if="hasData">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Error, algunos valores no son válidos</h5>
        <ul>
            <li v-for="(error, index) in errors" :key="index">{{ error[0] }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        errors: {
            type: [Array, Error, Object],
            required: true
        }
    },
    computed: {
        hasData() {
            if (this.errors.length == 0) { return false }
            else { return true }
        }
    }
}
</script>