<template>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><i :class="getData.icon"></i> {{getData.title}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item" v-for="(section, index) in getData.sections" :key="index" :class="lastText(index)">
                        <a href="#">{{section}}</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        storeGetter: {
            type: String,
            default: 'getBread'
        },
        storeNamespace: {
            type: String,
            required: true
        }
    },
    computed: {
        getBread() {
            return this.$store.getters[this.storeNamespace + '/' + this.storeGetter]
        },
        getData() {
            return this.getBread[this.$route.name]
        }
    },
    methods: {
        lastText(index) {
            if (this.getBread.length == 0) { return '' }
            if (index == this.getBread.length - 1) {
                return 'active'
            } else { return '' }
        }
    }
}
</script>