<template>
    <div class="spinner" :class="checkSize" :style="checkMargin">
        <i :class="checkIcon" :style="{ color: color }"></i>
    </div>
</template>

<script>
export default {
    props: {
        size: {
            type: String,
            required: true
        },
        color: {
            type: String,
            default: 'white'
        },
        margin: {
            type: String,
            default: '10'
        },
        icon: {
            type: String,
            default: 'fas fa-cog'
        },
        // fa-spin & fa-pulse
        animation: {
            type: String,
            default: 'fa-spin'
        }
    },
    computed: {
        checkSize() {
            return this.size
        },
        checkMargin() {
            return 'margin: ' + this.margin + 'px;'
        },
        checkIcon() {
            return this.icon + ' ' + this.animation
        }
    }
}
</script>

<style scoped>
.spinner {
    text-align: center;
}

.small { font-size: 20px; }
.medium { font-size: 40px; }
.big { font-size: 60px; }
</style>