<template>
  <nav class="main-header navbar navbar-expand" :class="getNavbarVariants">

	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block" v-for="(shortcut, index) in getShortcuts" :key="index">
			<router-link :to="shortcut.route" class="nav-link">{{shortcut.text}}</router-link>
		</li>
	</ul>

	<!-- SEARCH FORM -->
	<form class="form-inline ml-3" v-if="getBuscadorHeader == '1'">
		<div class="input-group input-group-sm">
			<input class="form-control form-control-navbar" type="search" placeholder="Buscar..." v-model="search_text" @keyup.enter="goBusqueda">
			<div class="input-group-append">
				<button class="btn btn-navbar" type="button" @click="goBusqueda">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
	</form>

	<loading v-if="!hasDataUserInfo" size="small"></loading>

    <!-- Right navbar links -->
	<ul class="navbar-nav ml-auto" v-else>

		<li class="nav-item dropdown" v-if="getFrontSiteUp == '1'">
			<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="true">
				<i class="fas fa-exclamation-triangle fa-lg" style="color: red;"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
				<div class="dropdown-item text-center">El sitio esta en modo mantenimiento!</div>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item" @click="goConfigurations">
					<i class="fas fa-cogs"></i> Ir a Configuraciones
				</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="true">
				<img :src="checkImage(getUserInfo.avatar, true)" class="user-image" alt="Avatar Image">
				<span class="d-none d-sm-inline-block">{{getUserFullName}}</span>
			</a>

			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
				<a href="#" class="dropdown-item" style="text-align: center;">
					<img :src="checkImage(getUserInfo.avatar, true)" alt="Avatar Image" class="avatarNavTop">
				</a>
				<div class="dropdown-divider"></div>
				<div class="dropdown-item text-center">{{getUserFullName}}</div>
				<div class="dropdown-divider"></div>
				<div class="dropdown-item text-center">{{getUserInfo.type}}</div>
				<div class="dropdown-divider"></div>
				<div class="dropdown-item text-center">Miembro desde {{dateToStringShort(getUserInfo.created_at)}}</div>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item" @click="goEditUser">
					<i class="fas fa-user-edit"></i> Editar
				</a>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item" @click="signOut">
					<i class="fas fa-sign-out-alt"></i> Cerrar Sesión
				</a>
			</div>
		</li>

    </ul>
  </nav>
  <!-- /.navbar -->
</template>

<script>
import { mapGetters } from 'vuex'
import loading from '../components/loading'
import tools from '../tools'

export default {
	components: { loading },
	data() {
		return {
			loading: false
		}
	},
	computed: {
        ...mapGetters('components', [
            'hasDataUserInfo',
            'getUserInfo',
            'getUserFullName'
		]),
		...mapGetters('configuration', [
            'getFrontSiteUp',
			'getBuscadorHeader',
			'getNavbarVariants',
			'getShortcuts'
		]),
		search_text: {
			get () { return this.$store.getters['search/getSearchText'] },
            set (value) { this.$store.commit('search/setSearchText', value) }
		}
	},
	methods: {
		goBusqueda() {
			this.$router.push({ name: 'Resultados de Busqueda' })
		},
		goEditUser() {
			this.$router.push({ name: 'Editar Usuario', params: { id: this.getUserInfo.id } })
		},
		goConfigurations() {
			this.$router.push({ name: 'Configuraciones' })
		},
		signOut() {
			window.location.href = this.$publicUrl + '/admin/logout';
		},
		checkImage: tools.checkImage,
		capitalizeFirstLetter: tools.capitalizeFirstLetter,
		dateToStringShort: tools.dateToStringShort
	}
}
</script>

<style scoped>
.navbar-nav .avatarNavTop {
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	width: 100%;
	max-width: 200px;
	margin: 10px;
	border-radius: 5%;
}
.navbar-nav .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
</style>