<template>
    <div>
        <ul class="pagination pagination-sm float-right" v-if="hasData">
            <!-- First Page -->
            <li class="page-item" :class="isFirst()">
                <a class="page-link" href="#" @click="goPage(1)">««</a>
            </li>

            <!-- Prev Button -->
            <li class="page-item" :class="areMore(getPagination.prev_page_url)">
                <a class="page-link" href="#" @click="setPage(getPagination.prev_page_url)">«</a>
            </li>

            <!-- Pages -->
            <li class="page-item" v-for="value in totalPages" :class="isActive(value)" :key="value">
                <a class="page-link" href="#" @click="goPage(value)">{{ value }}</a>
            </li>

            <!-- Next Button -->
            <li class="page-item" :class="areMore(getPagination.next_page_url)">
                <a class="page-link" href="#" @click="setPage(getPagination.next_page_url)">»</a>
            </li>

            <!-- Last Page -->
            <li class="page-item" :class="isLast()">
                <a class="page-link" href="#" @click="goPage(getPagination.last_page)">»»</a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        storeGetter: {
            type: String,
            default: 'getPagination'
        },
        storeNamespace: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            intervalLength: 6
        }
    },
    computed: {
        getPagination() {
            return this.$store.getters[this.storeNamespace + '/' + this.storeGetter]
        },
        hasData() {
            if (this.getPagination == null) {
                return false
            } else { return true }
        },
        totalPages() {
            if (this.getPagination == null) { return 0 }
            if (this.getPagination.total == 0) { return 0 }

            var total = Math.ceil(this.getPagination.total / this.getPagination.per_page)
            var currentPage = this.getPagination.current_page

            // Ranges
            var il = this.intervalLength / 2

            // Initial and End Interval
            var start_int = this.minusZero(currentPage, il)
            var end_int = this.maximunTotal(currentPage, il, this.intervalLength, total)

            var intervalTotal = []

            for (var i = start_int; i <= end_int; i++) {
                intervalTotal.push(i)
            }

            return intervalTotal
        }
    },
    methods: {
        setPage(url) {
            if(url != null) {
                this.$emit('setpage', url)
            }
        },
        goPage(page) {
            var url = "";
            var param = "";

            // Detect nulls & "?" and Emit
            if(this.getPagination.prev_page_url != null) {
                param = this.getPagination.prev_page_url
            } else {
                param = this.getPagination.next_page_url
            }

            // Is Current Page check
            if(this.isCurrentPage(page)) {
                url = param.substring(0, param.indexOf("?")) + "?page=" + page
                this.$emit('setpage', url)
            }
        },
        areMore(url) {
            if(url == null) { return "disabled" }
        },

        isFirst() {
            if(this.getPagination.current_page == 1) { return "disabled" }
        },

        isLast() {
            if(this.getPagination.current_page == this.getPagination.last_page) {
                return "disabled"
            }
        },
        isActive(page) {
            if(page == this.getPagination.current_page) {
                return "active"
            }
        },
        isCurrentPage(page) {
            if(page == this.getPagination.current_page) {
                return false
            } else { return true }
        },

        between(x, min, max) {
            return x >= min && x <= max
        },

        minusZero(val, minus) {
            if(val - minus > 0) { return val - minus } 
            else { return 1 }
        },

        maximunTotal(val, max, minimun, total) {
            if(val + max < total) {
                if(val + max < minimun) { return minimun } 
                else { return val + max }
            }
            else { return total }
        }
    }

}
</script>