<template>
    <aside class="main-sidebar elevation-4" :class="getSidebarVariants">

        <!-- Brand Logo -->
        <router-link class="brand-link" to="/" :class="getBrandLogoVariants">
            <img v-if="hasLogoCMS" :src="checkImage(getLogoCMS, true)" alt="CMS Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">{{$appName}}</span>
        </router-link>

        <!-- Sidebar -->
        <div class="sidebar">
            <loading v-if="loadingUser" size="medium"></loading>
            <div class="user-panel mt-3 pb-3 mb-3 d-flex" v-if="hasDataUserInfo">
                <div class="image">
                    <img :src="checkImage(getUserInfo.avatar, true)" class="img-circle elevation-2" alt="CMS User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{getUserFullName}}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item" v-for="m in getMenu" :key="m.id">
                        <router-link :to="m.route" class="nav-link" :class="checkActiveRoute(m.route)">
                            <i class="nav-icon" :class="m.icon"></i>
                            <p>{{m.text}}</p>
                        </router-link>
                    </li>
                </ul>
            </nav>

        </div>
    </aside>
</template>

<script>
import { mapGetters } from 'vuex'
import loading from '../components/loading'
import tools from '../tools'

export default {
    mounted() {
        this.loadUserInfo()
        this.loadConfiguration()
    },
    components: { loading },
    data() {
        return {
            loadingUser: false
        }
    },
    computed: {
        ...mapGetters('components', [
            'hasDataUserInfo',
            'getUserInfo',
            'getUserFullName',
            'getMenu'
        ]),
        ...mapGetters('configuration', [
            'getSidebarVariants',
            'getBrandLogoVariants',
            'getLogoCMS',
            'hasLogoCMS'
		])
    },
    methods: {
        loadUserInfo() {
            this.loadingUser = true
            this.$store.dispatch('components/getCMSUserInfo').then(() => {
                this.loadingUser = false
            })
        },
        loadConfiguration() {
            this.$store.dispatch('configuration/getCMSConfiguration')
        },
        checkActiveRoute(route) {
            if (route == this.$route.path) {
                return 'active'
            } else { return '' }
        },
        checkImage: tools.checkImage
    }
}
</script>