<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 p-2">
                    <button type="button" class="btn btn-secondary float-left" @click="backToIndex">
                    <i class="fas fa-arrow-circle-left"></i> Regresar</button>
                </div>
            </div>

            <div class="card">

                <div class="card-header">
                    <h3 class="card-title">Subir Imagenes a la Galería</h3>
                </div>

                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-12 p-2">
                            <file-upload
                                :headers="csrf"
                                extensions="jpg,jpeg,png"
                                accept="image/png,image/jpg,image/jpeg"
                                ref="upload"
                                v-model="files"
                                :post-action="correctUrl()"
                                @input-file="inputFile"
                                @input-filter="inputFilter"
                                :multiple="true"
                                :maximum="maximumUploads"
                                :drop="true">
                            </file-upload>
                            <a v-show="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true" class="btn btn-success btnupload">
                            <i class="fas fa-upload"></i> Subir todas las imagenes</a>
                            <a v-show="$refs.upload && $refs.upload.active" @click.prevent="$refs.upload.active = false" class="btn btn-danger btnupload">
                            <i class="fas fa-stop"></i> Parar subida de imagenes</a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Tamaño</th>
                                <th>Velocidad</th>
                                <th>Estatus</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="!files.length">
                                <td colspan="6">
                                    <div class="text-center p-5"><h4>Arrastra las imagenes en cualquier lugar para subirlas<br>ó</h4>
                                        <label for="file" class="btn btn-lg btn-primary">Seleccionar Imagenes</label>
                                    </div>
                                </td>
                            </tr>
                            <tr v-for="(file, index) in files" :key="index">
                                <td align="center">
                                    <vloadimage v-if="file.url">
                                        <img slot="image" class="img-fluid img-thumbnail" :src="file.url" width="40" height="auto">
                                        <div slot="preloader" class="preloaderBox">
                                            <loading size="medium" color="black" icon="fas fa-circle-notch"></loading>
                                        </div>
                                        <div slot="error" class="text-center vue-image-error"><i class="fas fa-exclamation-triangle"></i></div>
                                    </vloadimage>
                                </td>
                                <td>
                                    <div></div>{{file.name}}
                                    <div class="progress" v-if="file.active || file.progress !== '0.00'">
                                        <div class="progress-bar progress-bar-primary progress-bar-striped" 
                                        :class="{'bg-danger': file.error, 'progress-bar-animated': file.active}" 
                                        role="progressbar" :style="{ width: file.progress + '%' }">{{file.progress}}%</div>
                                    </div>
                                </td>
                                <td>{{formatBytes(file.size, 2)}}</td>
                                <td>{{formatBytes(file.speed, 2)}}</td>
                                <td>
                                    <span v-if="file.error" class="label label-danger">{{file.error}}</span>
                                    <span v-else-if="file.success" class="label label-success">OK</span>
                                    <span v-else-if="file.active" class="label label-info">Activo</span>
                                    <span v-else class="label label-warning">Esperando...</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-xs btn-danger" @click.prevent="$refs.upload.remove(file)">
                                    <i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                    <div>
                        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                            <span class="badge badge-warning"> El tamaño Máximo de Archivo es 2 Mb</span>
                            <span class="badge badge-danger"> Máximo de {{maximumUploads}} Archivos por subida</span>
                            <span class="badge badge-info" v-show="$refs.upload && $refs.upload.features.drag">Support drag and drop upload</span>
                            <span class="badge badge-info" v-show="$refs.upload && $refs.upload.features.directory">Support folder upload</span>
                            <span  class="badge badge-info" v-show="$refs.upload && $refs.upload.features.html5">Support for HTML5</span>
                        </p>
                    </div>

                </div>

            </div>
            
        </div>
    </section>
</template>

<script>
import FileUpload from 'vue-upload-component'
import vloadimage from 'vue-load-image'
import loading from '../../components/loading'
import tools from '../../tools'

export default {
    mounted() {
        this.csrf = {'X-CSRF-TOKEN': this.$token, 'X-Requested-With': 'XMLHttpRequest'}
    },
    components: { FileUpload, vloadimage, loading },
    data() {
        return {
            csrf: {},
            files: [],
            maximumUploads: 30
        }
    },
    methods: {
        backToIndex() {
            this.$router.push({ name: 'Lista de Imagenes' })
        },
        inputFile(newFile, oldFile) {
           if (newFile && oldFile && !newFile.active && oldFile.active) {
                if (newFile.response) {
                    this.$store.commit('gallery/addUploadedImage', newFile.response)
                    this.$toast.fire({
                        icon: 'success',
                        title: 'Ok!',
                        text: 'Se ha subido la imagen!'
                    })
                }
            }
        },

        inputFilter(newFile, oldFile, prevent) {
            if (!newFile) { return }

            // File Size Validation
            if (newFile.size > 2097152) {
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Tu archivo es muy grande. Max. 2MB!'
                })
                return prevent()
            }

            // File Extension
            if (newFile && !oldFile) {
                if (!/\.(jpg|jpeg|png)$/i.test(newFile.name)) {
                    this.$toast.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Tu archivo no es una imagen!'
                    })
                    return prevent()
                }
            }

            // Generate Url
            if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                newFile.url = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.url = URL.createObjectURL(newFile.file)
                    this.loadedFile = true
                }
            }    
        },
        startUpload() {
            this.$refs.upload.active = true
        },
        correctUrl() {
            return this.$publicUrl + 'admin/galeria/upload'
        },
        formatBytes: tools.formatBytes
    },
}
</script>

<style scoped>
.example-full .btn-group .dropdown-menu {
  display: block;
  visibility: hidden;
  transition: all .2s
}
.example-full .btn-group:hover > .dropdown-menu {
  visibility: visible;
}
.example-full label.dropdown-item {
  margin-bottom: 0;
}
.example-full .btn-group .dropdown-toggle {
  margin-right: .6rem
}
.example-full .filename {
  margin-bottom: .3rem
}
.example-full .btn-is-option {
  margin-top: 0.25rem;
}
.example-full .example-foorer {
  padding: .5rem 0;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}
.example-full .edit-image img {
  max-width: 100%;
}
.example-full .edit-image-tool {
  margin-top: .6rem;
}
.example-full .edit-image-tool .btn-group{
  margin-right: .6rem;
}
.example-full .footer-status {
  padding-top: .4rem;
}
.example-full .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.example-full .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}

.btnupload {
    color: white !important;
}
</style>