<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 p-2">
                    <button type="button" class="btn btn-primary float-left" @click="subirImagenes">
                    <i class="fas fa-plus-circle"></i> Agregar Imagenes</button>
                </div>
            </div>

            <div class="card">

                <div class="card-header">
                    <h3 class="card-title">Imagenes de la Galería</h3>
                </div>

                <div class="card-body" v-if="loading"><loading size="big" color="black"></loading></div>

                <div class="card-body" v-else>
                    <div class="row text-center align-items-center text-lg-left">
                        <div class="col-lg-3 col-md-4 col-6" v-for="(imagen, index) in getGallery" :key="imagen.id">
                            <a class="d-block mb-4 h-100 puntero">
                                <vloadimage>
                                    <img slot="image" class="img-fluid img-thumbnail" :src="checkImage(imagen.thumb, true)" @click="showImg(index)"/>
                                    <div slot="preloader" class="preloaderBox">
                                        <loading size="medium" color="black" icon="fas fa-circle-notch"></loading>
                                    </div>
                                    <div slot="error" class="text-center vue-image-error"><i class="fas fa-exclamation-triangle"></i></div>
                                </vloadimage>
                            </a>
                            <a class="btn btn-danger btn-sm deleteAbs puntero" @click="deleteImagen(imagen.id)"><i class="fas fa-trash-alt" style="color: white;"></i></a>
                        </div>
                    </div>

                    <lightbox :visible="visible" :imgs="getLightBoxData" :index="indexImage" @hide="handleHide"></lightbox>

                    <pagination @setpage="getGaleria" storeNamespace="gallery"></pagination>
                </div>

            </div>

        </div>
    </section>
</template>

<script>
import vloadimage from 'vue-load-image'
import lightbox from 'vue-easy-lightbox'
import pagination from '../../components/pagination'
import loading from '../../components/loading'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        this.getGaleria(null)
    },
    components: { pagination, lightbox, loading, vloadimage },
    data() {
        return {
            loading: false,
            visible: false,
            indexImage: 0
        }
    },
    computed: {
        ...mapGetters('gallery', [
            'hasDataGallery',
            'getGallery',
            'getLightBoxData'
        ])
    },
    methods: {
        getGaleria(url) {
            this.loading = true
            this.$store.dispatch('gallery/getGaleria', { url: url }).then(() => {
                this.loading = false
            })
        },
        subirImagenes() {
            this.$router.push({ name: 'Subir Imagenes' })
        },
        deleteImagen(id_imagen) {
            this.$toast.fire({
                toast: false,
                position: 'center',
                showConfirmButton: true,
                showCancelButton: true,
                timer: undefined,
                title: 'Borrar la Imagen!',
                text: '¿Deseas borrar la imagen?',
                icon: 'info',
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('gallery/deleteImagen', id_imagen).then(() => {
                        this.$toast.fire({
                            icon: 'success',
                            title: 'Ok!',
                            text: 'Imagen Borrada!'
                        })
                    }).catch(() => {
                        this.$toast.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Hay algunos errores en el servidor!'
                        })
                    })
                }
            })
        },
        showImg (index) {
            this.indexImage = index
            this.visible = true
        },
        handleHide () {
            this.visible = false
        },
        checkImage: tools.checkImage,
        dateToStringShort: tools.dateToStringShort
    }
}
</script>

<style scoped>
.deleteAbs {
    position: absolute;
    top: 10px;
    left: 18px;
}

.preloaderBox {
    width: 250px;
    height: 250px;
}

.puntero { cursor: pointer; }
</style>