div.jumbotron.hero-photography {
  color: #fff;
  text-align: center;
  background-image: url('../../img/fondoP.jpg');
  background-size: cover;
  background-position: center;
  /*background-repeat: no-repeat;*/
  padding-top: 30%;
  height:700px;
  padding-bottom: 100px;
  /*margin-top: 100px;*/
  margin-bottom: 0;
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  color: #fff;
}

