#box-1 {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/img/i1.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 58vh;
  width: 100%;
  background-image: url("../../img/royalParalax.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/img/i3.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

h1 {
  font-family: arial black;
  font-size: 50px;
  color: rgb(0,0,0);
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

