@font-face {
  font-family: caviarDream;
  src: url(fonts/CaviarDreams.ttf);
}

body {
  font-family: caviarDream !important;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width:768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.showcase .showcase-text {
  /*padding: 3rem;*/
}

.showcase {
  padding-bottom: 0!important;
}

.nav-item a{color:white!important;}

.nav-item a:hover{color:yellow!important;}