// import admin lte css

@import "~admin-lte/plugins/fontawesome-free/css/all.css";
@import "~admin-lte/dist/css/adminlte.css";
$animationDuration: 0.5s; // specify animation duration. Default value: 1s
@import "vue2-animate/src/sass/vue2-animate.scss";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

/* Vue2-Datepicker */
$default-color: #555;
$primary-color: #1284e7;
@import '~vue2-datepicker/scss/index.scss';
@import "../css/cms-vue2-datepicker.css";

/* Vue Tabs Component */
@import "../css/cms-vue-tabs-component.css";

/* Vue Loading Image Component */
@import "../css/cms-vue-loading-image.css";