<template>
    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Diseño & Colores</h3>
        </div>

        <div class="card-body" v-if="loading"><loading size="big" color="black"></loading></div>

        <div class="card-body" v-else>

            <!-- template_layout_options -->
            <div class="form-group">
                <label>Diseño de la Plantilla</label>
                <select class="custom-select" v-model="template_layout_options" @change="updateColores">
                    <option v-for="(template, index) in getTemplateLayoutOptionsArray" :key="index" :value="template.value">{{template.text}}</option>
                </select>
            </div>

            <!-- navbar_variants -->
            <div class="form-group">
                <label>Barra de Navegación</label>
                <select class="custom-select" v-model="navbar_variants" @change="updateColores">
                    <option v-for="(navbar, index) in getNavbarVariantsArray" :key="index" :value="navbar.value">{{navbar.text}}</option>
                </select>
            </div>

            <!-- accent_color_variants -->
            <div class="form-group">
                <label>Colores de Links</label>
                <select class="custom-select" v-model="accent_color_variants" @change="updateColores">
                    <option v-for="(accent, index) in getAccentColorVariantsArray" :key="index" :value="accent.value">{{accent.text}}</option>
                </select>
            </div>

            <!-- sidebar_variants -->
            <div class="form-group">
                <label>Diseño de Barra Lateral</label>
                <select class="custom-select" v-model="sidebar_variants" @change="updateColores">
                    <option v-for="(sidebar, index) in getSidebarVariantsArray" :key="index" :value="sidebar.value">{{sidebar.text}}</option>
                </select>
            </div>

            <!-- brand_logo_variants -->
            <div class="form-group">
                <label>Color Fondo de Logo</label>
                <select class="custom-select" v-model="brand_logo_variants" @change="updateColores">
                    <option v-for="(brand, index) in getBrandLogoVariantsArray" :key="index" :value="brand.value">{{brand.text}}</option>
                </select>
            </div>

        </div>

    </div>   
</template>

<script>
import loading from '../../../components/loading'
import { mapGetters } from 'vuex'
import tools from '../../../tools'

export default {
    components: { loading },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('configuration', [
            'getTemplateLayoutOptionsArray',
            'getNavbarVariantsArray',
            'getAccentColorVariantsArray',
            'getSidebarVariantsArray',
            'getBrandLogoVariantsArray'
        ]),
        template_layout_options: {
            get () { return this.$store.getters['configuration/getTemplateLayoutOptions'] },
            set (value) { this.$store.commit('configuration/setTemplateLayoutOptions', value) }
        },
        navbar_variants: {
            get () { return this.$store.getters['configuration/getNavbarVariants'] },
            set (value) { this.$store.commit('configuration/setNavbarVariants', value) }
        },
        accent_color_variants: {
            get () { return this.$store.getters['configuration/getAccentColorVariants'] },
            set (value) { this.$store.commit('configuration/setAccentColorVariants', value) }
        },
        sidebar_variants: {
            get () { return this.$store.getters['configuration/getSidebarVariants'] },
            set (value) { this.$store.commit('configuration/setSidebarVariants', value) }
        },
        brand_logo_variants: {
            get () { return this.$store.getters['configuration/getBrandLogoVariants'] },
            set (value) { this.$store.commit('configuration/setBrandLogoVariants', value) }
        }
    },
    methods: {
        updateColores() {
            this.loading = true
            this.$store.dispatch('configuration/updateColores').then(() => {
                this.loading = false
                this.cleanBodyClass()
                this.addBodyClass()
            }).catch(() => {
                this.loading = false
            })
        },
        addBodyClass() {
            document.body.classList.add(this.template_layout_options)
            document.body.classList.add(this.accent_color_variants)
        },
        cleanBodyClass(className) {
            document.body.className = ''
            document.body.classList.add('sidebar-mini')
        }
    }
}
</script>