<template>
    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Correo de Contacto</h3>
        </div>
        
        <div class="card-body" v-if="loading"><loading size="big" color="black"></loading></div>

        <div class="card-body" v-else>

            <formalert :errors="getContactoErrors"></formalert>
            
            <!-- email -->
            <div class="form-group">
                <label for="email">Correo de Contacto</label>
                <input type="email" id="email" class="form-control" v-model="correo_contacto" 
                :class="inputError(getContactoErrors, 'correo_contacto', 'is-invalid')">
            </div>

            <button type="button" class="btn btn-primary float-right" @click="updateEmail">
            <i class="fas fa-sync"></i> Actualizar Correo de Contacto</button>

        </div>

    </div>    
</template>

<script>
import loading from '../../../components/loading'
import formalert from '../../../components/formalert'
import { mapGetters } from 'vuex'
import tools from '../../../tools'

export default {
    components: { loading, formalert },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('configuration', [
            'getContactoErrors'
        ]),
        correo_contacto: {
            get () { return this.$store.getters['configuration/getCorreoContacto'] },
            set (value) { this.$store.commit('configuration/setCorreoContacto', value) }
        }
    },
    methods: {
        updateEmail() {
            this.loading = true
            this.$store.dispatch('configuration/updateContacto').then(() => {
                this.loading = false
                this.$toast.fire({
                    icon: 'success',
                    title: 'Ok!',
                    text: 'El correo de contacto ha sido actualizado!'
                })
            }).catch(() => {
                this.loading = false
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Hay algunos errores en el formulario de actualizar tu correo de contacto'
                })
            })
        },
        inputError: tools.inputError
    }
}
</script>