<template>
    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Efectos de Cambio de Pantalla</h3>
        </div>

        <div class="card-body" v-if="loading"><loading size="big" color="black"></loading></div>

        <div class="card-body" v-else>

            <!-- principal_transition -->
            <div class="form-group">
                <label>Efectos entre módulos</label>
                <select class="custom-select" v-model="principal_transition" @change="updateEfectos">
                    <option v-for="(transition, index) in getTransitionsArray" :key="index" :value="transition.value">{{transition.text}}</option>
                </select>
            </div>

            <!-- secondary_transition -->
            <div class="form-group">
                <label>Efecto entre componentes dentro de módulos</label>
                <select class="custom-select" v-model="secondary_transition" @change="updateEfectos">
                    <option v-for="(transition, index) in getTransitionsArray" :key="index" :value="transition.value">{{transition.text}}</option>
                </select>
            </div>

        </div>

    </div>   
</template>

<script>
import loading from '../../../components/loading'
import { mapGetters } from 'vuex'

export default {
    components: { loading },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('configuration', [
            'getTransitionsArray',
        ]),
        principal_transition: {
            get () { return this.$store.getters['configuration/getPrincipalTransition'] },
            set (value) { this.$store.commit('configuration/setPrincipalTransition', value) }
        },
        secondary_transition: {
            get () { return this.$store.getters['configuration/getSecondaryTransition'] },
            set (value) { this.$store.commit('configuration/setSecondaryTransition', value) }
        }
    },
    methods: {
        updateEfectos() {
            this.loading = true
            this.$store.dispatch('configuration/updateEfectos').then(() => {
                this.loading = false
            }).catch(() => {
                this.loading = false
            })
        }
    }
}
</script>