<template>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Imagen de Fondo del Login</h3>
        </div>
        
        <div class="card-body">

            <div class="callout callout-warning">
                <p>Las dimensiones recomendadas para el fondo son de 1920x1080</p>
            </div>
            
            <div v-if="files.length > 0 && loadFile != false">
                <div class="progress" v-if="files[0].active || files[0].progress !== '0.00'">
                    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" 
                    role="progressbar" :style="{ width: files[0].progress + '%' }">{{files[0].progress}}%</div>
                </div>
            </div>

            <div class="text-center">
                <div class="text-center p-2">
                    <label for="avatar" v-if="hasLoginBackgroundUrl && files.length == 0">
                        <img :src="checkImage(getLoginBackgroundUrl, true)" class="img-fluid uploadImage">
                    </label>
                    <label for="avatar" v-else>
                        <img :src="files.length ? files[0].url : $publicUrl + '/images/preview.png'" class="img-fluid uploadImage" />
                    </label>
                   
                </div>

                <file-upload
                    :headers="csrf"
                    extensions="jpg,jpeg,png"
                    accept="image/png,image/jpg,image/jpeg"
                    name="image"
                    class="btn btn-primary"
                    :post-action="correctUrl()"
                    v-model="files"
                    @input-filter="inputFilter"
                    @input-file="inputFile"
                    ref="upload">
                    <i class="fas fa-plus-square"></i> Cargar Imagen
                </file-upload>

                <button type="button" class="btn btn-primary" @click="startUpload" v-if="loadFile">
                <i class="fas fa-arrow-circle-up"></i> Subir</button>

            </div>

        </div>

    </div>
</template>

<script>
import FileUpload from 'vue-upload-component'
import { mapGetters } from 'vuex'
import tools from '../../../tools'

export default {
    mounted() {
        this.csrf = {'X-CSRF-TOKEN': this.$token, 'X-Requested-With': 'XMLHttpRequest'}
    },
    components: { FileUpload },
    data() {
        return {
            files: [],
            csrf: {},
            loadFile: false
        }
    },
    computed: {
        ...mapGetters('configuration', [
            'getLoginBackgroundUrl',
            'hasLoginBackgroundUrl'
        ])
    },
    methods: {
        inputFile(newFile, oldFile) {
            if (newFile && oldFile && !newFile.active && oldFile.active) {
                if (newFile.response) {
                    this.$store.commit('configuration/setLoginBackgroundUrl', newFile.response)
                    this.$toast.fire({
                        icon: 'success',
                        title: 'Ok!',
                        text: 'La imagen de fondo de login se ha actualizado!',
                        timer: 2000
                    })
                    this.loadFile = false
                }
            }
        },
        inputFilter(newFile, oldFile, prevent) {
            // File Size Validation
            if (newFile.size > 2097152) {
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Tu archivo es muy grande. Max. 2MB!',
                    timer: 3000
                })
                return prevent()
            }

            // File Extension
            if (newFile && !oldFile) {
                if (!/\.(jpg|jpeg|png)$/i.test(newFile.name)) {
                    this.$toast.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Tu archivo no es una imagen!',
                        timer: 3000
                    })
                    return prevent()
                }
            }

            // Generate Url
            if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                newFile.url = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.url = URL.createObjectURL(newFile.file)
                    this.loadFile = true
                }
            }    
        },
        startUpload() {
            this.$refs.upload.active = true
        },
        correctUrl() {
            return this.$publicUrl + 'admin/cms/loginback'
        },
        checkImage: tools.checkImage
    }
}
</script>

<style scoped>
.uploadImage {
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
</style>