<template>
    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Otras Opciones</h3>
        </div>

        <div class="card-body">

            <div class="icheck-danger">
                <input type="checkbox" id="mantenimientoSitio" @click="switchFrontSiteUp" :checked="checkedFrontSiteUp"/>
                <label for="mantenimientoSitio" v-if="loadingFrontSiteUp"><loading size="small" color="black" margin="0"></loading></label>
                <label for="mantenimientoSitio" v-else>Activar el sitio en modo mantenimiento</label>
            </div>
            
            <div class="icheck-primary">
                <input type="checkbox" id="buscadorHeader" @click="switchBuscadorHeader" :checked="checkedBuscadorHelper"/>
                <label for="buscadorHeader" v-if="loadingBuscadorHelper"><loading size="small" color="black" margin="0"></loading></label>
                <label for="buscadorHeader" v-else>Usar buscador en la barra de navegación</label>
            </div>

            <div class="icheck-primary">
                <input type="checkbox" id="Configuracion3"/>
                <label for="Configuracion3">Otra configuración</label>
            </div>

            <div class="icheck-primary">
                <input type="checkbox" id="Configuracion4"/>
                <label for="Configuracion4">Otra configuración</label>
            </div>

        </div>

    </div>    
</template>

<script>
import loading from '../../../components/loading'
import { mapGetters } from 'vuex'

export default {
    components: { loading },
    data() {
        return {
            loadingFrontSiteUp: false,
            loadingBuscadorHelper: false
        }
    },
    computed: {
        ...mapGetters('configuration', [
            'getFrontSiteUp',
            'getBuscadorHeader'
        ]),
        checkedFrontSiteUp() {
            if (this.getFrontSiteUp == '1') { return true }
            else { return false }
        },
        checkedBuscadorHelper() {
            if (this.getBuscadorHeader == '1') { return true }
            else { return false }
        },
        msgFrontSiteUp() {
            if (this.getFrontSiteUp == '1') { return 'Se activo el sitio en modo mantenimiento' } 
            else { return 'Se desactivó el sitio en modo mantenimiento' }
        },
        msgBuscadorHeader() {
             if (this.getBuscadorHeader == '1') { return 'Se activo el buscador de la barra de navegación' } 
            else { return 'Se desactivó el buscador de la barra de navegación' }
        },
    },
    methods: {
        toggleValue(value) {
            if (value == '1') { return '0' }
            else { return '1' }
        },
        switchFrontSiteUp() {
            var nameMutation = 'configuration/setFrontSiteUp'
            this.$store.commit(nameMutation, this.toggleValue(this.getFrontSiteUp))
            this.loadingFrontSiteUp = true
            this.$store.dispatch('configuration/updateFrontSiteUp').then(() => {
                this.loadingFrontSiteUp = false
                this.$toast.fire({
                    icon: 'success',
                    title: 'Ok!',
                    text: this.msgFrontSiteUp,
                    timer: 2000
                })
            }).catch(() => {
                this.loadingFrontSiteUp = false
                this.$store.commit(nameMutation, this.toggleValue(this.getFrontSiteUp))
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Hay algunos errores en las opciones de configuración',
                    timer: 2000
                })
            })
        },
        switchBuscadorHeader() {
            var nameMutation = 'configuration/setBuscadorHeader'
            this.$store.commit(nameMutation, this.toggleValue(this.getBuscadorHeader))
            this.loadingBuscadorHelper = true
            this.$store.dispatch('configuration/updateBuscadorHeader').then(() => {
                this.loadingBuscadorHelper = false
                this.$toast.fire({
                    icon: 'success',
                    title: 'Ok!',
                    text: this.msgBuscadorHeader
                })
            }).catch(() => {
                this.loadingBuscadorHelper = false
                this.$store.commit(nameMutation, this.toggleValue(this.getBuscadorHeader))
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Hay algunos errores en las opciones de configuración'
                })
            })
        }
    }
}
</script>