<template>
    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Atajos en la Barra de Navegación</h3>
        </div>

        <div class="card-body" v-if="loading"><loading size="big" color="black"></loading></div>

        <div class="card-body" v-else>

            <!-- shortcuts -->
            <div class="form-group">
                <label>Atajos Seleccionados</label>
                <multiselect :value="getShortcuts" :searchable="false" 
                @input="updateShortcuts" :show-labels="false" track-by="id" label="text"
                :options="getMenu" :multiple="true" :taggable="true">
                    <template slot="option" slot-scope="props">
                        {{props.option.text}}
                    </template>
                </multiselect>
            </div>

        </div>

    </div>   
</template>

<script>
import Multiselect from 'vue-multiselect'
import loading from '../../../components/loading'
import { mapGetters } from 'vuex'
import tools from '../../../tools'

export default {
    components: { Multiselect, loading },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('components', [
            'getMenu'
        ]),
        ...mapGetters('configuration', [
            'getShortcuts'
        ])
    },
    methods: {
        updateShortcuts(value) {
            console.log(value)
            this.$store.commit('configuration/setShortcuts', value)
            this.loading = true
            this.$store.dispatch('configuration/updateShortcuts').then(() => {
                this.loading = false
            }).catch(() => {
                this.loading = false
            })
        }
    }
}
</script>