.mx-input-form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (max-width: 567px) {
.mx-datepicker-popup .mx-shortcuts-wrapper {
    display: none;
}

.mx-datepicker-popup .mx-shortcuts-wrapper .mx-range-wrapper {
    max-width: 100vw;
}

.mx-datepicker-popup .mx-shortcuts-wrapper .mx-range-wrapper .mx-calendar {
    float: none;
}

.mx-datepicker-popup .mx-shortcuts-wrapper .mx-range-wrapper .mx-calendar .mx-calendar-content {
    width: auto;
}
}