<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 p-2">
                    <button type="button" class="btn btn-primary float-left" @click="goCreate">
                    <i class="fas fa-plus-circle"></i> Nueva Categoría</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title d-none d-sm-inline-block">Categorías</h3>

                            <div class="card-tools">
                                <filtertable @updatefilters="getCategorias" storeNamespace="categories"></filtertable>
                            </div>
                        </div>
                    
                        <div class="card-body table-responsive p-0">

                            <loading v-if="loading" size="medium"></loading>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Creado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="categoria in getCategories" :key="categoria.id">
                                        <td>{{categoria.nombre}}</td>
                                        <td>{{dateToStringShort(categoria.created_at)}}</td>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-warning" @click="goEdit(categoria.id)">
                                            <i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-xs btn-danger" @click="delteCategoria(categoria.id)">
                                            <i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer clearfix">
                            <pagination @setpage="getCategorias" storeNamespace="categories"></pagination>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
import pagination from '../../components/pagination'
import filtertable from '../../components/filtertables'
import loading from '../../components/loading'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        this.getCategorias(null)
    },
    components: { pagination, filtertable, loading },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('categories', [
            'hasDataCategories',
            'getCategories',
            'getFiltros'
        ])
    },
    methods: {
        getCategorias(url) {
            this.loading = true
            this.$store.dispatch('categories/getCategorias', {
                url: url,
                filtro: this.getFiltros
            }).then(() => {
                this.loading = false
            })
        },
        goCreate() {
            this.$router.push({ name: 'Crear Categoría' })
        },
        goEdit(id_categoria) {
            this.$router.push({ name: 'Editar Categoría', params: { id: id_categoria } })
        },
        delteCategoria(id_categoria) {
            this.$toast.fire({
                toast: false,
                position: 'center',
                showConfirmButton: true,
                showCancelButton: true,
                timer: undefined,
                title: 'Borrar Categoría!',
                text: '¿Deseas borrar la categoría?',
                icon: 'error',
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('categories/deleteCategoria', id_categoria).then(() => {
                        this.successToast('Categoría Borrada!')
                    }).catch(() => {
                        this.$toast.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Hay algunos errores en el servidor!'
                        })
                    })
                }
            })
        },
        successToast(msg) {
            this.$toast.fire({
                icon: 'success',
                title: 'Ok!',
                text: msg
            })
        },
        checkImage: tools.checkImage,
        dateToStringShort: tools.dateToStringShort
    }
}
</script>