<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 p-2">
                    <button type="button" class="btn btn-secondary float-left mr-2" @click="backToIndex">
                    <i class="fas fa-arrow-circle-left"></i> Regresar</button>
                    <button type="button" class="btn btn-primary float-left" @click="updateCategoria" v-if="getUpdateOn">
                    <i class="fas fa-sync"></i> Actualizar</button>
                    <button type="button" class="btn btn-success float-left" @click="saveCategoria" v-else>
                    <i class="far fa-save"></i> Guardar</button>
                </div>
            </div>

            <formalert :errors="getCategoryErrors"></formalert>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header bg-navy">
                            <h3 class="card-title">Información de la Categoría</h3>
                        </div>

                        <div class="card-body" v-if="loading"><loading size="big" color="black"></loading></div>

                        <div class="card-body" v-else>

                            <!-- Nombre -->
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" class="form-control" v-model="nombre"
                                :class="inputError(getCategoryErrors, 'nombre', 'is-invalid')">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </section>
</template>

<script>
import loading from '../../components/loading'
import formalert from '../../components/formalert'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        if (this.$route.name == 'Editar Categoría') {
            this.getCategoryData()
        }
    },
    components: { loading, formalert },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('categories', [
            'getUpdateOn',
            'getCategoryErrors'
        ]),
        nombre: {
            get () { return this.$store.getters['categories/getCategoryNombre'] },
            set (value) { this.$store.commit('categories/setCategoryNombre', value) }
        }
    },
    methods: {
        backToIndex() {
            this.$router.push({ name: 'Lista de Categorías' })
        },
        getCategoryData() {
            this.loading = true
            this.$store.commit('categories/setUpdateOn', true)
            this.$store.commit('categories/setCategoryId', this.$route.params.id)
            this.$store.dispatch('categories/getCategoria', this.$route.params.id).then(() => {
                this.loading = false
            }).catch(() => {
                this.loading = false
            })
        },
        saveCategoria() {
            this.loading = true
            this.$store.dispatch('categories/createCategoria').then((category) => {
                this.loading = false
                this.successToast('La Categoría ha sido creada!')
                this.$router.push({ name: 'Editar Categoría', params: { id: category.id } })
                this.$store.commit('categories/setUpdateOn', true)
                this.$store.commit('categories/setCategoryAll', category)
            }).catch(() => {
                this.loading = false
                this.errorToast()
            })
        },
        updateCategoria() {
            this.loading = true
            this.$store.dispatch('categories/updateCategoria').then(() => {
                this.loading = false
                this.successToast('La categoría ha sido actualizada!')
                this.$router.push({ name: 'Lista de Categorías' })
            }).catch(() => {
                this.loading = false
                this.errorToast()
            })
        },
        successToast(msg) {
            this.$toast.fire({
                icon: 'success',
                title: 'Ok!',
                text: msg
            })
        },
        errorToast() {
            this.$toast.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Hay algunos errores en el formulario'
            })
        },
        isCreate() {
            if (this.$route.name == 'Crear Categoría') { return true }
            else { return false }
        },
        inputError: tools.inputError
    },
    beforeRouteLeave (to, from, next) {
        // Clean Errors on leaving route
        this.$store.commit('categories/cleanCategory')
        this.$store.commit('categories/setCategoryErrors', [])
        this.$store.commit('categories/setUpdateOn', false)
        next()
    }
}
</script>

<style scoped>
.mx-datepicker {
    width: 100%;
}
</style>