<template>
    <div class="card">
        <div class="card-header bg-navy">
            <h3 class="card-title d-none d-sm-inline-block">Usuarios</h3>
        </div>

        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Título</th>
                        <th>Autor</th>
                        <th>Categoría</th>
                        <th>Creado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="post in getBlogPosts" :key="post.id">
                        <td>
                            <vloadimage>
                                <img slot="image" :src="checkImage(post.thumb, true)" alt="CMS Post Image" class="img-size-64 mr-2">
                                <loading slot="preloader" size="small" color="black" icon="fas fa-circle-notch"></loading>
                                <div slot="error" class="text-center vue-image-error"><i class="fas fa-exclamation-triangle"></i></div>
                            </vloadimage>
                        <td>
                            <div style="color: #3c8dbc; font-weight: bold;" :title="post.titulo">{{ textTruncate(post.titulo, 80) }}</div>
                            <div>{{dateToStringShort(post.fecha)}}</div>
                        </td>
                        <td>{{post.autor}}</td>
                        <td>
                            <span class="badge bg-secondary" v-if="post.categoria">{{post.categoria.nombre}}</span>
                            <span class="badge bg-danger" v-else>Borrada</span>
                        </td>
                        <td>{{dateToStringShort(post.created_at)}}</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-warning" @click="goEdit(post.id)" 
                            title="Editar Post"><i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
import vloadimage from 'vue-load-image'
import loading from '../../components/loading'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    components: { vloadimage, loading },
    computed: {
        ...mapGetters('search', [
            'getBlogPosts'
        ])
    },
    methods: {
        goEdit(id_post) {
            this.$router.push({ name: 'Editar Post', params: { id: id_post } })
        },
        dateToStringShort: tools.dateToStringShort,
        checkImage: tools.checkImage,
        textTruncate: tools.textTruncate
    }
}
</script>