<template>
    <div class="card">
        <div class="card-header bg-navy">
            <h3 class="card-title d-none d-sm-inline-block">Categorías</h3>
        </div>

        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Creado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="categoria in getCategories" :key="categoria.id">
                        <td>{{categoria.nombre}}</td>
                        <td>{{dateToStringShort(categoria.created_at)}}</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-warning" @click="goEdit(categoria.id)">
                            <i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    computed: {
        ...mapGetters('search', [
            'getCategories'
        ])
    },
    methods: {
        goEdit(id_categoria) {
            this.$router.push({ name: 'Editar Categoría', params: { id: id_categoria } })
        },
        dateToStringShort: tools.dateToStringShort
    }
}
</script>