<template>
    <div class="card">
        <div class="card-header bg-navy">
            <h3 class="card-title d-none d-sm-inline-block">Usuarios</h3>
        </div>

        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Usuario</th>
                        <th>Correo</th>
                        <th>Tipo</th>
                        <th>Bloqueado</th>
                        <th>Creado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in getCMSUsers" :key="user.id">
                        <td>
                            <vloadimage>
                                <img slot="image" :src="checkImage(user.avatar, true)" alt="CMS User Avatar" class="img-circle img-size-32 mr-2">
                                <loading slot="preloader" size="small" color="black" icon="fas fa-circle-notch"></loading>
                                <div slot="error" class="text-center vue-image-error"><i class="fas fa-exclamation-triangle"></i></div>
                            </vloadimage>
                        </td>
                        <td>{{fullName(user)}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <span v-if="user.type == 'suadmin'" class="badge bg-success">{{ user.type }}</span>
                            <span v-else-if="user.type == 'admin'" class="badge bg-info">{{ user.type }}</span>
                            <span v-else-if="user.type == 'editor'" class="badge bg-warning">{{ user.type }}</span>
                            <span v-else class="badge bg-danger">{{ user.type }}</span>
                        </td>
                        <td>
                            <button v-if="user.blocked_at == null" type="button" class="btn btn-xs btn-danger">Bloquear Usuario</button>
                            <button v-else type="button" class="btn btn-xs btn-success">Desbloquear Usuario</button>
                        </td>
                        <td>{{dateToStringShort(user.created_at)}}</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-warning" @click="goEdit(user.id)">
                            <i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
import vloadimage from 'vue-load-image'
import loading from '../../components/loading'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    components: { vloadimage, loading },
    computed: {
        ...mapGetters('search', [
            'getCMSUsers'
        ])
    },
    methods: {
        fullName(user) {
            return user.nombre + ' ' + user.apellido
        },
        goEdit(id_user) {
            this.$router.push({ name: 'Editar Usuario', params: { id: id_user } })
        },
        dateToStringShort: tools.dateToStringShort,
        checkImage: tools.checkImage
    }
}
</script>