<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <loading v-if="loading" size="medium"></loading>

                    <tabs :options="{ useUrlFragment: false }">
                        <tab :name="tabNameCategorias">
                            <categorias></categorias>
                        </tab>
                        <tab :name="tabNameCMSUsers">
                            <cmsusers></cmsusers>
                        </tab>
                        <tab :name="tabNameBlog">
                            <blog></blog>
                        </tab>
                    </tabs>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
import categorias from './categorias'
import cmsusers from './cmsusers'
import blog from './blog'
import loading from '../../components/loading'
import { Tabs, Tab } from 'vue-tabs-component'
import { mapGetters } from 'vuex'

export default {
    mounted() {
        this.goSearch()
    },
    components: { loading, categorias, cmsusers, blog, 'tabs': Tabs, 'tab':Tab },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('search', [
            'getResultados',
            'getSearchText',
            'getCategories',
            'getCMSUsers',
            'getBlogPosts'
        ]),
        tabNameBlog() {
            return 'Blog ' + this.getBlogPosts.length
        },
        tabNameCMSUsers() {
            return 'Usuarios del CMS ' + this.getCMSUsers.length
        },
        tabNameCategorias() {
            return 'Categorías ' + this.getCategories.length
        }
    },
    methods: {
        goSearch() {
            this.loading = true
            this.$store.dispatch('search/getBusqueda').then(() => {
                this.loading = false
            })
        }
    }
}
</script>