<template>
    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Avatar</h3>
        </div>
        
        <div class="card-body">

            <div v-if="files.length > 0 && loadedFile != false">
                <div class="progress" v-if="files[0].active || files[0].progress !== '0.00'">
                    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" 
                    role="progressbar" :style="{ width: files[0].progress + '%' }">{{files[0].progress}}%</div>
                </div>
            </div>

            <div class="text-center">
                <div class="text-center p-2">
                    <label for="avatar" v-if="hasAvatar && files.length == 0">
                        <vloadimage>
                            <img slot="image" :src="checkImage(getAvatar, true)" class="rounded-circle img-fluid">
                            <loading slot="preloader" size="medium" color="black" icon="fas fa-circle-notch"></loading>
                            <div slot="error" class="text-center vue-image-error"><i class="fas fa-exclamation-triangle"></i></div>
                        </vloadimage>
                    </label>
                    <label for="avatar" v-else>
                        <vloadimage>
                            <img slot="image" :src="files.length ? files[0].url : 'https://www.gravatar.com/avatar/default?s=200&r=pg&d=mm'" class="rounded-circle img-fluid" />
                            <loading slot="preloader" size="medium" color="black" icon="fas fa-circle-notch"></loading>
                            <div slot="error" class="text-center vue-image-error"><i class="fas fa-exclamation-triangle"></i></div>
                        </vloadimage>
                    </label>
                   
                </div>

                <file-upload
                    :headers="csrf"
                    extensions="jpg,jpeg,png"
                    accept="image/png,image/jpg,image/jpeg"
                    name="avatar"
                    class="btn btn-primary"
                    :post-action="correctUrl()"
                    v-model="files"
                    @input-filter="inputFilter"
                    @input-file="inputFile"
                    :data="postData"
                    ref="upload">
                    <i class="fas fa-plus-square"></i> Cargar Imagen
                </file-upload>

                <button type="button" class="btn btn-primary" @click="startUpload" v-if="loadedFile">
                <i class="fas fa-arrow-circle-up"></i> Subir</button>

            </div>

        </div>

    </div>    
</template>

<script>
import loading from '../../components/loading'
import vloadimage from 'vue-load-image'
import FileUpload from 'vue-upload-component'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        this.csrf = {'X-CSRF-TOKEN': this.$token, 'X-Requested-With': 'XMLHttpRequest'}
        this.postData = { id: this.getUserID }
    },
    components: { FileUpload, vloadimage, loading },
    data() {
        return {
            files: [],
            csrf: {},
            loadedFile: false,
            postData: {}
        }
    },
    computed: {
        ...mapGetters('users', [
            'getAvatar',
            'hasAvatar',
            'getUserID'
        ])
    },
    methods: {
        inputFile(newFile, oldFile) {
            if (newFile && oldFile && !newFile.active && oldFile.active) {
                if (newFile.response) {
                    this.$store.commit('users/setAvatar', newFile.response.avatar)
                    this.$toast.fire({
                        icon: 'success',
                        title: 'Ok!',
                        text: 'El avatar se ha actualizado!'
                    })
                    this.loadedFile = false
                }
            }
        },
        inputFilter(newFile, oldFile, prevent) {
            // File Size Validation
            if (newFile.size > 2097152) {
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Tu archivo es muy grande. Max. 2MB!'
                })
                return prevent()
            }

            // File Extension
            if (newFile && !oldFile) {
                if (!/\.(jpg|jpeg|png)$/i.test(newFile.name)) {
                    this.$toast.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Tu archivo no es una imagen!'
                    })
                    return prevent()
                }
            }

            // Generate Url
            if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                newFile.url = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.url = URL.createObjectURL(newFile.file)
                    this.loadedFile = true
                }
            }    
        },
        startUpload() {
            this.$refs.upload.active = true
        },
        correctUrl() {
            return this.$publicUrl + 'admin/users/avatar'
        },
        checkImage: tools.checkImage,
    }
}
</script>