<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 p-2">
                    <button type="button" class="btn btn-primary float-left" @click="goCreate">
                    <i class="fas fa-plus-circle"></i> Nuevo Usuario</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title d-none d-sm-inline-block">Usuarios</h3>

                            <div class="card-tools">
                                <filtertable @updatefilters="getUsuarios" storeNamespace="users"></filtertable>
                            </div>
                        </div>
                    
                        <div class="card-body table-responsive p-0">

                            <loading v-if="loading" size="medium"></loading>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2">Usuario</th>
                                        <th>Correo</th>
                                        <th>Tipo</th>
                                        <th>Bloqueado</th>
                                        <th>Creado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in getUsers" :key="user.id">
                                        <td>
                                            <vloadimage>
                                                <img slot="image" :src="checkImage(user.avatar, true)" alt="CMS User Avatar" class="img-circle img-size-32 mr-2">
                                                <loading slot="preloader" size="small" color="black" icon="fas fa-circle-notch"></loading>
                                                <div slot="error" class="text-center vue-image-error"><i class="fas fa-exclamation-triangle"></i></div>
                                            </vloadimage>
                                        </td>
                                        <td>{{fullName(user)}}</td>
                                        <td>{{user.email}}</td>
                                        <td>
                                            <span v-if="user.type == 'suadmin'" class="badge bg-success">{{ user.type }}</span>
                                            <span v-else-if="user.type == 'admin'" class="badge bg-info">{{ user.type }}</span>
                                            <span v-else-if="user.type == 'editor'" class="badge bg-warning">{{ user.type }}</span>
                                            <span v-else class="badge bg-danger">{{ user.type }}</span>
                                        </td>
                                        <td>
                                            <button v-if="user.blocked_at == null" @click="blockUser(user.id, true)" type="button" class="btn btn-xs btn-danger">Bloquear Usuario</button>
                                            <button v-else @click="blockUser(user.id, false)" type="button" class="btn btn-xs btn-success">Desbloquear Usuario</button>
                                        </td>
                                        <td>{{dateToStringShort(user.created_at)}}</td>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-warning" @click="goEdit(user.id)">
                                            <i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-xs btn-danger" @click="deleteUser(user.id)">
                                            <i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer clearfix">
                            <pagination @setpage="getUsuarios" storeNamespace="users"></pagination>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
import vloadimage from 'vue-load-image'
import pagination from '../../components/pagination'
import filtertable from '../../components/filtertables'
import loading from '../../components/loading'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        this.getUsuarios(null)
    },
    components: { pagination, filtertable, loading, vloadimage },
    data() {
        return {
            loading: false
        }
    },
    computed: {
        ...mapGetters('users', [
            'hasDataUsers',
            'getUsers',
            'getFiltros'
        ])
    },
    methods: {
        fullName(user) {
            return user.nombre + ' ' + user.apellido
        },
        getUsuarios(url) {
            this.loading = true
            this.$store.dispatch('users/getUsuarios', {
                url: url,
                filtro: this.getFiltros
            }).then(() => {
                this.loading = false
            })
        },
        goCreate() {
            this.$router.push({ name: 'Crear Usuario' })
        },
        blockUser(userID) {
            this.$store.dispatch('users/blockUsuario', userID).then((user) => {
                if (user.blocket_at == null) {
                    this.successToast('El usuario se desbloqueo!')
                } else {
                    this.successToast('El usuario se bloqueo!')
                }
            }).catch(() => {
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Hay algunos errores en el servidor!'
                })
            })
        },
        goEdit(userID) {
            this.$router.push({ name: 'Editar Usuario', params: { id: userID } })
        },
        deleteUser(userID) {
            this.$toast.fire({
                toast: false,
                position: 'center',
                showConfirmButton: true,
                showCancelButton: true,
                timer: undefined,
                title: 'Borrar Usuario!',
                text: '¿Deseas borrar al usuario?',
                icon: 'error',
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('users/deleteUsuario', userID).then(() => {
                        this.successToast('Usuario Borrado')
                    }).catch(() => {
                        this.$toast.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Hay algunos errores en el servidor!'
                        })
                    })
                }
            })
        },
        successToast(msg) {
            this.$toast.fire({
                icon: 'success',
                title: 'Ok!',
                text: msg
            })
        },
        checkImage: tools.checkImage,
        dateToStringShort: tools.dateToStringShort
    }
}
</script>