<template>
    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Información del Usuario</h3>
        </div>

        <div class="card-body" v-if="loadingUserInfo"><loading size="big" color="black"></loading></div>

        <div class="card-body" v-else>

            <formalert :errors="getUserErrors"></formalert>

            <!-- Nombre -->
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" class="form-control" v-model="user.nombre"
                :class="inputError(getUserErrors, 'nombre', 'is-invalid')">
            </div>

            <!-- Apellido -->
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" class="form-control" v-model="user.apellido" 
                :class="inputError(getUserErrors, 'apellido', 'is-invalid')">
            </div>

            <!-- Correo (update = disabled) -->
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" id="correo" class="form-control" v-model="user.email" 
                v-if="isCreate" :class="inputError(getUserErrors, 'type', 'is-invalid')">
                <input type="email" id="correo" class="form-control" v-model="user.email" 
                v-else disabled>
            </div>

            <!-- Tipo -->
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select class="form-control custom-select" id="tipo" v-model="user.type" :class="inputError(getUserErrors, 'type', 'is-invalid')">
                    <option v-for="(tipo, index) in getUsersTypes" :key="index" :value="tipo">{{capitalizeFirstLetter(tipo)}}</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary float-right" @click="updateUserInfo" v-if="getUpdateOn">
            <i class="fas fa-sync"></i> Actualizar</button>
            <button type="button" class="btn btn-success float-right" @click="saveUserInfo" v-else>
            <i class="far fa-save"></i> Guardar</button>

        </div>
    </div>
</template>

<script>
import loading from '../../components/loading'
import formalert from '../../components/formalert'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    mounted() {
        if (this.$route.name == 'Editar Usuario') {
            this.getUserInfo()
        }
    },
    components: { loading, formalert },
    data() {
        return {
            user: {
               nombre: '', 
               apellido: '', 
               email: '', 
               type: ''
            },
            loadingUserInfo: false
        }
    },
    computed: {
        ...mapGetters('users', [
            'getUpdateOn',
            'getUsersTypes',
            'getUserErrors',
            'getUserID'
        ])
    },
    methods: {
        getUserInfo() {
            this.loadingUserInfo = true
            this.$store.commit('users/setUpdateOn', true)
            this.$store.commit('users/setUserID', this.$route.params.id)
            this.$store.dispatch('users/getUsuario', this.getUserID).then((user) => {
                this.loadingUserInfo = false
                this.user = {
                    id: user.id,
                    nombre: user.nombre,
                    apellido: user.apellido,
                    email: user.email,
                    type: user.type
                }
            }).catch(() => {
                this.loadingUserInfo = false
                this.errorToast()
            })
        },
        saveUserInfo() {
            this.loadingUserInfo = true
            this.$store.dispatch('users/createUsuario', this.user).then((user) => {
                this.loadingUserInfo = false
                this.successToast('El usuario ha sido creado!')
                this.$router.push({ name: 'Editar Usuario', params: { id: user.id } })
                this.$store.commit('users/setUpdateOn', true)
                this.$store.commit('users/setUserID', user.id)
            }).catch(() => {
                this.loadingUserInfo = false
                this.errorToast()
            })
        },
        updateUserInfo() {
            this.loadingUserInfo = true
            this.$store.dispatch('users/updateUsuario', this.user).then(() => {
                this.loadingUserInfo = false
                this.successToast('El usuario ha sido actualizado!')
                // this.$router.push({ name: 'Lista de Usuarios' })
            }).catch(() => {
                this.loadingUserInfo = false
                this.errorToast()
            })
        },
        successToast(msg) {
            this.$toast.fire({
                icon: 'success',
                title: 'Ok!',
                text: msg
            })
        },
        errorToast() {
            this.$toast.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Hay algunos errores en el formulario'
            })
        },
        isCreate() {
            if (this.$route.name == 'Crear Usuario') { return true }
            else { return false }
        },
        capitalizeFirstLetter: tools.capitalizeFirstLetter,
        inputError: tools.inputError
    }
}
</script>