<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 p-2">
                    <button type="button" class="btn btn-secondary float-left" @click="backToIndex">
                    <i class="fas fa-arrow-circle-left"></i> Regresar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <info></info>
                </div>
                <div class="col-md-6">
                    <password v-if="getUpdateOn"></password>
                    <avatar v-if="getUpdateOn"></avatar> 
                </div>
            </div>

            
        </div>
    </section>
</template>

<script>
import info from '../../modules/users/info'
import password from '../../modules/users/password'
import avatar from '../../modules/users/avatar'
import { mapGetters } from 'vuex'

export default {
    mounted() {
        this.getUsuariosTipos()
    },
    components: { info, password, avatar },
    computed: {
        ...mapGetters('users', [
            'getUpdateOn'
        ])
    },
    methods: {
        backToIndex() {
            this.$router.push({ name: 'Lista de Usuarios' })
        },
        getUsuariosTipos() {
            this.$store.dispatch('users/getUsersTypes')
        }
    },
    beforeRouteLeave (to, from, next) {
        // Clean Errors
        this.$store.commit('users/setUserErrors', [])
        this.$store.commit('users/setPasswordErrors', [])
        this.$store.commit('users/setAvatar', [])
        this.$store.commit('users/setUpdateOn', false)
        next()
    }
}
</script>