<template>
    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Contraseña</h3>
        </div>

        <div class="card-body" v-if="loadingPassword"><loading size="big" color="black"></loading></div>
        
        <div class="card-body" v-else>

            <formalert :errors="getPasswordErrors"></formalert>
            
            <!-- Password -->
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" class="form-control" v-model="password" 
                :class="inputError(getPasswordErrors, 'password', 'is-invalid')">
            </div>

            <!-- Password Confirmation -->
            <div class="form-group">
                <label for="password_confirmation">Confirmar Contraseña</label>
                <input type="password" id="password_confirmation" class="form-control" v-model="password_confirmation" 
                :class="inputError(getPasswordErrors, 'password_confirmation', 'is-invalid')">
            </div>

            <button type="button" class="btn btn-primary float-right" @click="updatePassword">
            <i class="fas fa-sync"></i> Actualizar Contraseña</button>
        </div>

    </div>
</template>

<script>
import loading from '../../components/loading'
import formalert from '../../components/formalert'
import { mapGetters } from 'vuex'
import tools from '../../tools'

export default {
    components: { loading, formalert },
    data() {
        return {
            password: '', 
            password_confirmation: '',
            loadingPassword: false
        }
    },
    computed: {
        ...mapGetters('users', [
            'getPasswordErrors',
            'getUserID'
        ])
    },
    methods: {
        updatePassword() {
            this.loadingPassword = true
            var data = {
                id: this.getUserID,
                password: this.password,
                password_confirmation: this.password_confirmation
            }
            this.$store.dispatch('users/updatePassword', data).then(() => {
                this.loadingPassword = false
                this.$toast.fire({
                    icon: 'success',
                    title: 'Ok!',
                    text: 'La contraseña ha sido actualizada!'
                })
                this.password = ''
                this.password_confirmation = ''
            }).catch(() => {
                this.loadingPassword = false
                this.$toast.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Hay algunos errores en el formulario de actualizar tu contraseña'
                })
            })
        },
        inputError: tools.inputError
    }
}
</script>