<template>
    <section>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <contacto></contacto>
                    <efectos></efectos>
                    <loginback></loginback>
                </div>
                <div class="col-md-6">
                    <options></options>
                    <colores></colores>
                    <shortcuts></shortcuts>
                    <logocms></logocms>
                </div>
            </div>
            
        </div>
    </section>
</template>

<script>
import efectos from '../configuration/partials/efectos'
import loginback from '../configuration/partials/loginback'
import options from '../configuration/partials/options'
import colores from '../configuration/partials/colores'
import contacto from '../configuration/partials/contacto'
import shortcuts from '../configuration/partials/shortcuts'
import logocms from '../configuration/partials/logocms'

export default {
    components: {
        efectos,
        loginback,
        options,
        colores,
        contacto,
        shortcuts,
        logocms
    }
}
</script>